body {
    background-color: rgb(30, 72, 140);
}

h1, h2 {
    color: white;
}

.radio {
    opacity: 0;
    position: absolute;
    align-items: center;
}

.label {
    text-indent: -999em;
    width: 250px;
    height: 165px;
    display: block;
    margin: 10px;
}





.planning {
    background-image: url('../../Content/images/image.JPG');
    float: left;
}

.stuckIn {
    background-image: url('../../Content/images/image2.JPG');
    float: right;
}

.write {
    background-image: url('../../Content/images/image3.JPG');
    float: left;
}

.numbers {
    background-image: url('../../Content/images/image4.JPG');
    float: right;
}

.yes {
    background-image: url('../../Content/images/image5.JPG');
    float: left;
}

.notNecessarily {
    background-image: url('../../Content/images/image6.JPG');
    float: right;
}

.brand {
    background-image: url('../../Content/images/image7.JPG');
    float: left;
}


.true {
    background-image: url('../../Content/images/image9.JPG');
    float: left;
}




.buttonA {
    background-color: blue;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    float: left;
}

.clearfix {
    overflow: auto;
}

.buttonB {
    background-color: blue;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    float: right;
}

.button1:hover {
    box-shadow: 0 10px 20px 0 orange;
}




input[type="radio"]:checked + label {
    border: 5px solid yellow;
}
