<head>

    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../Content/images/background.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin: 0;
        }

        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>

    <div class="main-container">
        <div class="fixer-container">
            <img src="~/Content/images/logoCircle.png" />
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="main-container">
        <div class="fixer-container">
            <div class="text-glow-hover">
                <img src="~/Content/images/fiveGirls.png" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />


    <div class="main-container">
        <div class="fixer-container">
            <div class="text-glow-hover">
                <h2><a href="Question1"> Where will you start your adventure ? </a></h2>
            </div>
        </div>
    </div>

</body>
