<head>
    <style>
        body {
            background-image: url('../../Content/images/background.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin: 0;
        }

        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <script src="~/assets/js/gradScript.js"></script>
    <div class="main-container">
        <div class="fixer-container">
            <img src="~/Content/images/logoCircle.png" />
        </div>
    </div>


    <br />
    <br />

    <p>

        <img src="~/Content/images/marketingPerson.png" alt="marketing person" style="float:left;">
        <font size="40"> <b> Marketing </b> </font>
        <h2>Given your answers you'd be perfect for our <b> Marketing Scheme! </b></h2>
        You’ll get to work with great brands such as CompareTheMarket.com and study for a CIM qualification, whilst building your career under experts in their
        field. Roles on our previous schemes have included:

        <br />
        <br />

        <ul>
            <li>Brand & Communications</li>
            <li>Digital</li>
            <li>Public Relations</li>
            <li>Marketing Planning</li>
            <li>eCommerce</li>
        </ul>

    </p>

    <br />
    <br />

    <h3> Start your Gradventure now </h3>
    <p> <a href="https://www.bglgroup.co.uk/careers/graduates/graduate-marketing/"> https://www.bglgroup.co.uk/careers/graduates/graduate-marketing/ </a></p>

</body>