

<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../Content/images/background.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin: 0;
        }

        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>

    <div class="main-container">
        <div class="fixer-container">
            <div class="text-glow-hover">
                <img src="~/Content/images/logoCircle.png" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        <div></div>
        <form action="#" method="post">
            <input type="radio" class="radio" name="choice" id="1a" value="1a" checked />
            <label for="1a" class="label planning">planning</label>
            <input type="radio" class="radio" name="choice" id="1b" value="1b" />
            <label for="1b" class="label stuckIn">stuckIn</label>
        </form>
    </div>

 
    <br />
        <h2 align="center">Do you like careful planning or just getting stuck in?</h2>
 

<br/>
<br/>
<br/>
<br/>
<button class="buttonB button1" onclick="window.location.href = '/Home/Question2'">Next ></button>


</body>
