
@{
    ViewBag.Title = "Question3";
}

<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />
</head>

<body>

    <h1 align="center">START YOUR GRADVENTURE!</h1>
    <br />
    <div>
        <div></div>
        <form action="#" method="post">
            <input type="radio" class="radio" name="choice" id="3a" value="3a" checked />
            <label for="3a" class="label yes">yes</label>
            <input type="radio" class="radio" name="choice" id="3b" value="3b" />
            <label for="3b" class="label notNecessarily">notNecessarily</label>
        </form>
    </div>
<h2 align="center">Do you like working with technology and computers?</h2>

    <br />
    <br />
    <br />
    <br />

    <button class="buttonA button1" onclick="window.location.href = '/Home/Question2'">< Previous</button>
    <button class="buttonB button1" onclick="window.location.href = '/Home/Question4'">Next ></button>
</body>
