<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../Content/images/background.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin: 0;
        }

        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <script src="~/assets/js/gradScript.js"></script>
    <div class="main-container">
        <div class="fixer-container">
            <div class="text-glow-hover">
                <img src="~/Content/images/logoCircle.png" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        v>
        <form action="#" method="post">
            <input id="5a" TYPE="radio" class="radio" NAME="a" VALUE=1 onclick="weightingScore(3,0,3,5)">
            <label for="5a" class="label true">true</label>


            <input id="5b" TYPE="radio" class="radio" NAME="a" VALUE=2 onclick="weightingScore(0,3,0,5)">
            <label for="5b" class="label notNecessarily">notNecessarily</label>
        </form>
    </div>

    <br />
    <h2 align="center">Having internationally important qualifications are important to me?</h2>

    <br />
    <br />
    <br />
    <br />

    <button class="buttonB button1" onclick="window.location.href = '/Home/Question4'"> Previous </button>
    <button class="buttonC button1" onclick="showResult();"> Submit! </button>
</body>
