
@{
    ViewBag.Title = "Question1";
}

<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />
</head>

<body>

    <h1 align="center">START YOUR GRADVENTURE!</h1>
    <br />
    <div>
        <div></div>
        <form action="#" method="post">
            <input type="radio" class="radio" name="example" id="ex1" value="ex1" checked />
            <label for="ex1" class="label">Example 1</label>
            <input type="radio" class="radio" name="example" id="ex2" value="ex2" />
            <label for="ex2" class="labelB">Example 2</label>
        </form>
    </div>
<h2 align="center">Do you like careful planning or just getting stuck in?</h2>

<br/>
<br/>
<br/>
<br/>

<div>
    <a href='@Url.Action("Question2", "Home")'>
        <img src='@Url.Content("~/Content/images/next.jpg")' height="30" width="65"/ align="right">
    </a>

</div>

</body>
