
@{
    ViewBag.Title = "Question1";
}

<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />
</head>

<body>

    <h1 align="center">START YOUR GRADVENTURE!</h1>
    <br />
    <div>
        <div></div>
        <form action="#" method="post">
            <input type="radio" class="radio" name="choice" id="1a" value="1a" checked />
            <label for="1a" class="label planning">planning</label>
            <input type="radio" class="radio" name="choice" id="1b" value="1b" />
            <label for="1b" class="label stuckIn">stuckIn</label>
        </form>
    </div>
<h2 align="center">Do you like careful planning or just getting stuck in?</h2>

<br/>
<br/>
<br/>
<br/>
    <button class="buttonB button1" onclick="window.location.href = '/Home/Question2'">Next ></button>

</body>
