
@{
    ViewBag.Title = "Question5";
}

<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />
</head>

<body>

    <h1 align="center">START YOUR GRADVENTURE!</h1>
    <br />
    <div>
        <div></div>
        <form action="#" method="post">
            <input type="radio" class="radio" name="choice" id="5a" value="5a" checked />
            <label for="5a" class="label true">true</label>
            <input type="radio" class="radio" name="choice" id="5b" value="5b" />
            <label for="5b" class="label notNecessarily">notNecessarily</label>
        </form>
    </div>
<h2 align="center">Having internationally important qualifications are important to me?</h2>

    <br />
    <br />
    <br />
    <br />

    <button class="buttonA button1" onclick="window.location.href = '/Home/Question4'">< Previous</button>
    <button class="buttonB button1" onclick="window.location.href = '/Home/Gradventure'">Submit! ></button>
</body>
