
@{
    ViewBag.Title = "Question4";
}

<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />
</head>

<body>

    <h1 align="center">START YOUR GRADVENTURE!</h1>
    <br />
    <div>
        <div></div>
        <form action="#" method="post">
            <input type="radio" class="radio" name="choice" id="4a" value="4a" checked />
            <label for="4a" class="label brand">brand</label>
            <input type="radio" class="radio" name="choice" id="4b" value="4b" />
            <label for="4b" class="label notNecessarily">notNecessarily</label>
        </form>
    </div>
    <h2 align="center">Do you aspire to work with a recognised brand?</h2>

    <br />
    <br />
    <br />
    <br />

    <button class="buttonA button1" onclick="window.location.href = '/Home/Question3'">< Previous</button>
    <button class="buttonB button1" onclick="window.location.href = '/Home/Question5'">Next ></button>


</body>
