<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../Content/images/background.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin: 0;
        }

        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    
    <script src="~/assets/js/gradScript.js"></script>

    <div class="main-container">
        <div class="fixer-container">
            <div class="text-glow-hover">
                <img src="~/Content/images/logoCircle.png" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        <form action="#" method="post">
            <input id="1a" TYPE="radio" class="radio" NAME="a" VALUE=1 onclick="window.location.href = '/Home/Question2'; weightingScore(1, 0, 3, 1);">
            <label for="1a" class="label planning">planning</label>

            <input id="1b" TYPE="radio" class="radio" NAME="a" VALUE=2 onclick="window.location.href = '/Home/Question2'; weightingScore(2, 3, 0, 1);">
            <label for="1b" class="label stuckIn">stuckIn</label>
        </form>
    </div>

    <br />
    <h2 align="center">Do you like careful planning or just getting stuck in?</h2>
</body>
