<head>
    <link href="~/assets/css/gradStyle.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../Content/images/background.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin: 0;
        }

        IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <script src="~/assets/js/gradScript.js"></script>
    <div class="main-container">
        <div class="fixer-container">
            <div class="text-glow-hover">
                <img src="~/Content/images/logoCircle.png" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        <form action="#" method="post">
            <input id="4a" TYPE="radio" class="radio" NAME="a" VALUE=1 onclick="window.location.href = '/Home/Question5'; weightingScore(3,0,0,4)">
            <label for="4a" class="label brand">brand</label>


            <input id="4b" TYPE="radio" class="radio" NAME="a" VALUE=2 onclick="window.location.href = '/Home/Question5'; weightingScore(2,0,3,4)">
            <label for="4b" class="label notNecessarily">notNecessarily</label>
        </form>
    </div>

    <br />
    <h2 align="center">Do you aspire to work with a recognised brand?</h2>

    <br />
    <br />
    <br />
    <br />

    <button class="buttonA button1" onclick="window.location.href = '/Home/Question3'"> Previous </button>


</body>
